@tailwind base;
@tailwind components;
@tailwind utilities;

.mask {
  mask-image: url("/img/union.svg");
  -webkit-mask-image: url("/img/union.svg");
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}

@font-face {
  font-family: "GroteskSemi";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/ABCMonumentGroteskSemi-Mono-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Whyte";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/ABCWhyte-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Whyte";
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/ABCWhyte-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Whyte";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/ABCWhyte-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Whyte";
  font-weight: 500;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("/fonts/ABCWhyte-RegularItalic.otf") format("opentype");
}
