@tailwind base;
@tailwind components;
@tailwind utilities;

.parter-cartridge-container:hover .partner-hover-target:before {
  @apply bg-night-800/75;
}

.parter-cartridge-container:hover .partner-hover-target div:last-child {
  @apply opacity-30;
}

.parter-cartridge-container .partner-hover-target:hover::before {
  @apply bg-transparent;
}

.parter-cartridge-container .partner-hover-target:hover div:last-child {
  @apply opacity-100;
}

@font-face {
  font-family: "GroteskSemi";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/ABCMonumentGroteskSemi-Mono-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Whyte";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/ABCWhyte-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Whyte";
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/ABCWhyte-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Whyte";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/ABCWhyte-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Whyte";
  font-weight: 500;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("/fonts/ABCWhyte-RegularItalic.otf") format("opentype");
}
