@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  @apply relative mx-auto max-w-8xl px-4 sm:px-5 md:px-8;
}

.container {
  @apply mx-auto max-w-9xl px-6 sm:px-12 md:px-[60px];
}

.landing-h1 {
  @apply text-[32px] font-[635] leading-[105%] md:text-5xl;
}

.landing-h2 {
  @apply text-[32px] font-[635] leading-[105%];
}

.swiper {
  width: 100%;
}

.swiper-slide {
  min-width: 0;
  flex: 0 0 320px;
  position: relative;
  transform: translateX(0) scale(1);
}

.swiper-slide a {
  display: block;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.create-paragraph {
  @apply font-medium leading-[160%] text-night-100;
}

.create-partner-link {
  @apply absolute left-1/2 bottom-[25%] z-20 -translate-x-1/2 gap-2 rounded-md border-new-night-1100 bg-new-night-1300/80 px-2.5 py-2 text-sm font-medium;
}

@font-face {
  font-family: "GroteskSemi";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url("/fonts/ABCMonumentGroteskSemi-Mono-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Whyte";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url("/fonts/ABCWhyte-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Whyte";
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  src: url("/fonts/ABCWhyte-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Whyte";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url("/fonts/ABCWhyte-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Whyte";
  font-weight: 500;
  font-display: swap;
  font-style: italic;
  src: url("/fonts/ABCWhyte-RegularItalic.otf") format("opentype");
}

@font-face {
  font-family: "Millik";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url("/fonts/Millik.otf") format("opentype");
}

@font-face {
  font-family: "Satoshi";
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  src: url("/fonts/Satoshi-Light.otf") format("opentype");
}

@font-face {
  font-family: "Satoshi";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url("/fonts/Satoshi-Regular.otf") format("opentype");
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}
